.dash-stacks-context-menu {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.dash-stacks-context-menu .popup-menu-content {
  background-color: #36363a !important;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.dash-stacks-context-menu .popup-menu-item {
  background-color: transparent !important;
  border-radius: 12px;
}

.dash-stacks-context-menu .popup-menu-item:hover {
  color: #ff7b72 !important;
}

.menu-label {
  font-size: 9pt;
  opacity: 0.6;
  margin-bottom: 4px;
  margin-left: 4px;
}

.menu-entry {
  background-color: rgba(255, 255, 255, 0.08) !important;
  border-radius: 12px;
  color: white;
  border: 1px solid transparent;
  min-width: 200px; 
}

.menu-entry:focus {
  background-color: rgba(255, 255, 255, 0.12) !important;
}

.destruct-button {
  color: #ff7b72 !important;
}

.destruct-button:hover {
  background-color: rgba(248, 81, 73, 0.15) !important;
}

.dash-stacks-separator {
  width: 1px;
  height: 64px !important;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 9px 6px 18px 6px !important;
}

.dash-stack-button {
  width: 76px;
  height: 76px;
  border-radius: 16px;
  margin-bottom: 12px;
  transition-duration: 100ms;
}

.dash-stack-button:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.stack-popup-wrapper {
  background-color: transparent;
}

.stack-popup-content {
  background-color: #36363a;
  border-radius: 16px;
  padding: 12px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.5);
}

.stack-header {
  margin-bottom: 12px;
  /* padding-bottom: 8px; */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.stack-nautilus-button {
  width: 34px;
  height: 34px;
  border-radius: 8px;
  transition-duration: 100ms;
}

.stack-nautilus-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.stack-header-title {
  color: white;
  font-weight: bold;
  font-size: 11pt;
}

.stack-back-button {
  width: 34px;
  height: 34px;
  border-radius: 8px;
  transition-duration: 100ms;
}

.stack-back-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.stack-dummy-button {
  width: 34px;
  height: 34px;
}

.stack-item {
  width: 84px;
  height: 84px;
  border-radius: 8px;
  padding: 8px;
}

.stack-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.stack-item-label {
  color: white;
  font-size: 11pt;
  text-align: center;
  margin-top: 4px;
  width: 68px;
}

.dash-scroll-wrapper {
  height: 96px !important;

}

.dash-scroll-wrapper > * {
  height: 96px !important;
}

.dash-scroll-wrapper .app-grid-running-dot {
  bottom: -10px;
}

.dash-scroll-view {
  background-color: transparent;
  -st-hscrollbar-style: never;
}

.dash-scroll-view StScrollBar {
  width: 0px;
  height: 0px;
  opacity: 0;
  -st-background-image: none;
}

.dash-scroll-view > StScrollBar {
  min-width: 0px;
  min-height: 0px;
  width: 0px;
  height: 0px;
}


.dash-custom-app-container {
  width: 76px !important;
}

.dash-custom-app-child {
  width: 76px !important;
  height: 76px !important; 
  margin: 0 !important; 
  padding: 0 !important;
}

/* The separator */
.dash-custom-sep-container,
.dash-custom-sep-child {
  width: 1px !important;
  
}

.dash-custom-ghost-spacer {
  width: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
  opacity: 0 !important;
}
